.book-list {
  &__card {
    overflow: hidden;
    height: 100%;
  }

  &__card-image {
    width: 100%;
  }

  &__card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
  }

  &__card-title {
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__card-subtitle {
    font-size: 1rem;
    font-weight: 300;
    color: #000;
    padding: 3px 0 3px 0;
  }
}
