* {
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 30px 0 30px 0;
  background: #343a40;
  color: #fff;
  text-align: center;
}

header h1 {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 300;
}

.search-area {
  text-align: center;
}

.search-area form {
  width: 500px;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
}

.search-area input {
    width: 200px;
    height: 40px;
    padding: 20px 0 20px 0;
    margin: 0 auto;
}

.search-button {
  background: #343a40;
  color: #fff;
  border: none;
  height: 40px;
  padding: 8px 13px 10px 13px;
  
}

.book__list {
  display: grid;
  padding: 1rem;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem;
}

.book__card-container {
    width: 250px;
    border: 1px solid rgba(0,0,0,.125);
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.book__card-container img {
  width: 100%;
  height: 250px;
}

.book__card-container h2 {
  font-size: 1em;    
  font-weight: 400;
}

.book__card-container h3 {
  font-size: 1em;    
  font-weight: 300;
  color: #6c757d;
  padding: 10px 0 10px 0;
}